
html {
    /*background: radial-gradient(circle, white, darkgrey);*/
    background: black;
}

body {
    /* background: #FFFAFD; */
    /* font-size: 200%; */
    line-height:1.5;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

/* NAVIGATOR */

#section_nav ul{
    color:white;
}

#previewer p:not(.hlverse){
    color:white;
}

#previewer p{
    text-align:left;
}

.navchildsec{
    float:left;
    margin-right:2em;
}

.hlverse{
    color:yellow;
}

/*  Verses etc */

#textcontent .verse{
    text-align:center;
    font-size: 300%;
}
.songtitle{
    color:white;
}


.unlhsection{
    color:white;
}

.subsectionnavhl{
    color:red;
}

.sectionnavhl{
    color:yellow;
}


/*  The actual contents */

#heading{
    clear:left;
    /*background: url('images/otsikko.png')  no-repeat;*/
}

#heading h3{
    color: rgba(228, 221, 117, 0.87);
    font-size: 130%;
    margin-bottom:2em;
    position:relative;
    left: -22%;
}

#heading h2{
    color:white;
    font-size: 300%;
    /* margin-bottom:2em; */
    position:relative;
    left: -31%;
}

#prescont{
    /* width:100%; */
    height:100%;
    background-size: contain;
    position: relative;
    background: url('images/lh_2.png')  no-repeat;
    /* http://st.gde-fon.com/wallpapers_original/574104_ostrova_more_noch_mayak_2048x1360_www.Gde-Fon.com.jpg*/
}

#prescont #navwrapper{
    position: absolute;
    left: 50%;
    margin-top: 5%;
    /* display: -webkit-flex; */
    /* display: flex; */
}

#prescont #navwrapper #navcontainer{
    position: relative;
    left: -50%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#sections{
    /* margin-left: 30em; */
    /* margin-top: 20em; */
    /* float:left; */
    padding-right: 12px;
    color:white;
    margin-bottom: 4em;
    font-size: 120%;
}

#sections ul {
    list-style: none;
    padding-left: 0;
}

#sections li, #sitems li{
    list-style-type:none;
    /* display: inline; */
}


/* OSIO-otsikot  */

#sections li {
    margin-top: 1em;
    padding: 1em;
    /* display: inline; */
}

#sections li {
    background: rgba(255, 229, 229, 0.49);
    color: #adacac;
}

#sections li.sectionhl {
    background: #353567;
    color: white;
}



#sitems{
    /* float: left; */
    /* margin-top: 20em; */
    /* border-right: 1px dashed yellow; */
    color: #ffffff;
    background: rgba(53, 53, 103, 0.82);
    padding-right:12px;
    /* padding-left: 1px; */
    /* margin-right: 5em; */
    margin-left: 3em;
    font-size: 120%;
}


nav#sitems li.sectionitemhl {
    /* background: #353567; */
    color: white;
}

nav#sitems li {
    /* background: blue; */
    margin-top: 1em;
    padding-top: 1em;
    padding-left: 0.5em;
    color: grey;
}

#sitems ul {
    /* list-style: none; */
    padding-left: 0;
}

#textcontent{
    color:white;
}

#itemtitle{
    /* float:left; */
    /* margin-top: 10em; */
    /* margin-right: 12px; */
    /* padding-left: 5px; */
    margin-left: 2em;
    font-size: 150%;
}

#sectionlinks{
    float:left;
    margin-right: 12px;
    padding-left: 5px;
    color:white;
}

.songdata{
    display:none;
}

#showstructure{
    display:none;
}

