html {
    /*background: radial-gradient(circle, white, darkgrey);*/
    background: #252323;
}

body {
    /* background: #FFFAFD; */
    /* font-size: 200%; */
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    overflow:hidden;
    color: white;
}


#structure,#evankeliumi,#vastuut,#songs,#messutitle{
    display: block;
    line-height:0;
    height: 0;
    overflow: hidden;
}


.songtitlediv h3{
    color: rgba(239, 226, 41, 0.91);
    font-size: 260%;
    font-family: 'Quicksand';
    margin-bottom:2em;
    margin-top: 0.1em;
    font-weight: normal;
}

#textcontent > .songtitlediv h2{
    color:white;
    font-family: 'Nothing You Could Do',fantasy;
    font-size: 347%;
    margin-top:0px
    /* background: -webkit-linear-gradient(#eee, rgb(217, 247, 128)); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */;
}

#creditbox{
    width:100%;
    text-align:left;
    font-size:50%;
    background:none;
} 

#creditbox ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

/* NAVIGATOR */

.functions_section{
    /* background: rgba(128, 128, 128, 0.37); */
    height: 100%;
    border-radius: 10px;
    padding: 5em;
}

#navigatorcontainer h3{
    font-family:'Nothing You Could Do';
    text-align:center;
    padding-bottom: 0.4em;
    /* border-bottom: 1px solid; */
    font-size: 170%;
}


#navigatorcontainer{
    font-family:'Quicksand';
}

#navigator_sectionlist, #addedcontentparent{
    padding: 1em;
} 


.hlnavsection{
    background: #1c4b74;
}

.unhlnavsection{
    background: #252323;
}

#navigatorcontainer{
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
        flex-direction:row;
}

#previewer{
    min-width: 15em;
    padding-left:2em;
    border-left:1px solid white;
    height:100%;
}

#previewer h3, #previewer h2 {
    color: white;
}

#section_nav ul{
    color:white;
}

#previewer p:not(.hlverse){
    color:white;
}

#previewer p{
    text-align:left;
}

.navchildsec{
    float:left;
    margin-right:2em;
    min-width: 20em;
}

.hlverse{
    color:yellow;
}

.biblenavi{
    width:0px;
    height:0px;
    border:none;
}


#ytembedded{
    width:15em;
}

iframe{
    border:0;
}

.functionalsection h4{
    margin-top:0px;
}

.functionalsection input{
    margin-left:1em;
    margin-right:1em;

}

.functionalsection li{
    margin-top:1em;
    margin-bottom:1em;
}

.functionalsection{
    /* border-left:1px dashed white; */
    /* padding-left:2em; */
    font-size:80%;
    border-radius: 12px;
    padding: 0.9em;
    margin-top: 1em;
    /* height:100%; */
    background: rgba(98, 139, 141, 0.32);
    float:left;
    margin-left:1em;
}


.contentinsert {
    height: 11em;
    width: 24em;
}

#addedcontentparent{
    border-top: 1px solid white;
    margin-top:2em;
}

.switchlink{
    margin-right:2em;
    color:yellow;
}

.unhlpresentation{
    border:none;
}

.hlpresentation{
    border:2px solid yellow;
    padding:1em;
} 

.bibaddress{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}  

.bibaddress input{
    margin-left:1em;
    width:6em;
}

/*
    
https://css-tricks.com/css3-gradients/

    */

/*  Verses etc */
#prescont > #textcontent .bibleverse{

    font-size: 240%;
    font-family:'Quicksand';
    line-height: 1;
    text-align: justify;
    /* margin-top: 9em; */
    padding-left: 4em;
    padding-right: 3em;

}

h3.bibleheader{

    font-size: 290%;
    line-height: 1;
    /* margin-top: 9em; */
    padding-left: 2em;

}

#prescont > #textcontent .verse{
    text-align: start;
    font-size: 310%;
    line-height:1.5;
    /*font-family: sans-serif;*/
    font-family:'Quicksand';
    /* margin-top: 9em; */
    margin-top: 0.1em;
    text-shadow: 2px 1px 1px #000;
}
.songtitle{
    color:white;
    font-family: 'Nothing You Could Do',fantasy;
    font-size: 200%;
    margin-top:0px
    /* background: -webkit-linear-gradient(#eee, rgb(217, 247, 128)); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}


.unlhsection{
    color:white;
}

.subsectionnavhl{
    color:#0DFF28;
}

.sectionnavhl{
    color:yellow;
}


/*  The actual contents */

#heading{
    /* clear:left; */
    /*background: url('images/otsikko.png')  no-repeat;*/
    /* position: absolute; */
    /* left: -50%; */
    text-align: center;
    padding-top: 0px;
    white-space:nowrap;
}

#heading h3{
    color: #FFEB3B;
    /* padding-bottom: 1em; */
    /* border-bottom: 1px solid white; */
    font-size: 290%;
    font-family: 'Quicksand';
    font-weight: normal;
    margin-bottom: 1.5em;
    margin-top: 0.3em;
    position:relative;
    /* display: inline-block; */
    /* left: -50%; */
    /* font-style: italic; */
}

#heading h2{
    color: #fbfbfb;
    font-size: 700%;
    /* font-family: arial, sans-serif; */
    font-family: 'Nothing You Could Do';
    /* margin-bottom:2em; */
    /* display: none; */
    position: relative;
    /* left: -50%; */
    margin-top: 0px;
    /* font-style: italic; */
    margin-bottom: 0px;
}

#prescont{
    width:100%;
    height: 97%;
    background-size: cover;
    /* background-size: 100% 100%; */
    /* position: relative; */
    background: url('images/lh_2.png') no-repeat center center fixed;
    /* http://st.gde-fon.com/wallpapers_original/574104_ostrova_more_noch_mayak_2048x1360_www.Gde-Fon.com.jpg*/
    /* background-image: url(images/lh2.png), linear-gradient(rgba(235, 1, 165, 0), #717171); */ /* W3C */
    overflow:hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#prescont #navwrapper{
    /* position: absolute; */
    /* left: 50%; */
    /*margin-top: 5%;*/
    /* display: -webkit-flex; */
    /* display: flex; */
    /* flex-direction: row; */
}

#prescont #navwrapper #navcontainer{
    position: relative;
    /* left: -50%; */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* display: flex; */
    /* -webkit-flex-direction: row; */
    flex-direction: row;
    /* width: 500px; */
    /* padding-right: 30em; */
}


#sections{
    /* margin-left: 30em; */
    /* margin-top: 20em; */
    /* float:left; */
    padding-right: 12px;
    color:white;
    margin-bottom: 4em;
    font-size: 160%;
}

#sections ul {
    list-style: none;
    padding-left: 0;
}

#sections li, #sitems li{
    list-style-type:none;
    /*white-space: nowrap;*/
    /* display: inline; */
}

/*INFO*/

#infobox{
    margin-top:3em;
}

.infoheader{
    margin-top:0px;
    color: #E1E17A;
    font-size: 110%;
}

.infolist li{
    margin-top: 1em;
    list-style-type: none;
}

.creditcontent{
    /* background: #353567; */
    /* background: linear-gradient(to bottom, rgb(39, 39, 89), rgba(0, 0, 0, 0)); */
    color: white;
    font-family: 'Quicksand';
    padding-top:0.3em;
    padding-bottom:0.3em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 300%;
    border-radius:12px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}


.infocontent{
    background: #353567;
    background: linear-gradient(to bottom, rgb(39, 39, 89), rgba(0, 0, 0, 0));
    color: white;
    padding-top:1em;
    font-family:'Quicksand';
    padding-bottom:3em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 200%;
    border-radius:12px;
    /* font-family: monospace; */
}

/* OSIO-otsikot  */

#sections, #sitems{
    font-family: 'Quicksand';
}

#sections li {
    margin-top: 1em;
    padding: 1em;
    border-radius: 12px;
    /* display: inline; */
}

#sections li {
    /*color: rgba(128, 113, 113, 0.51);*/
    color: #a7a7a7;
}

#sections li.sectionhl {
    /* background: #353567; */
    /* background: linear-gradient(to bottom, rgb(179, 179, 222), rgba(0, 0, 0, 0)); */
    border-left: 3px solid white;
    color: white;
    border-right: 3px solid white;
}



#sitems{
    /* float: left; */
    /* margin-top: 20em; */
    /* border-right: 1px dashed yellow; */
    /* border-radius: 12px; */
    color: #ffffff;
    /* background: rgba(142, 142, 150, 0.82); */
    /* background: linear-gradient(to bottom, rgba(40, 52, 146, 0.55), rgba(64, 60, 72, 0.13)); */
    padding-right: 22px;
    padding-left: 22px;
    border-left: 3px solid white;
    /* border-right: 1px solid white; */
    /* margin-right: 5em; */
    margin-left: 2em;
    font-size: 200%;
    /* height: 70%; */
    /* font-family: -webkit-pictograph; */
    /* box-shadow: 0px -2px 2px rgba(34,34,34,0.6); */
}


nav#sitems li.sectionitemhl {
    /* background: #353567; */
    color:  white;
}

nav#sitems li {
    /* background: blue; */
    margin-top: 0.6em;
    padding-top: 1em;
    padding-left: 0.5em;
    color: #a7a7a7;
}

nav#sitems li:last-child{
    margin-bottom:0;
    padding-bottom:0;
}

nav#sitems li:first-child{
    margin-top:0;
    padding-top:0;
}

#sitems ul {
    /* list-style: none; */
    margin-top: 0.1em;
    padding-left: 0;
    /* padding-bottom: 0; */
    /* margin-bottom: 0; */
}


#textcontent{
    color:white;
    /* overflow: hidden; */
}

#itemtitle{
    /* float:left; */
    /* margin-top: 10em; */
    /* margin-right: 12px; */
    /* padding-left: 5px; */
    margin-left: 2em;
    font-size: 150%;
}

#sectionlinks{
    float:left;
    margin-right: 12px;
    padding-left: 5px;
    color:white;
}

.songdata{
    display:none;
}

#showstructure{
    display:none;
}

